img {
width: 400px;
}

h1 {
	font-size: 50px;
	background-color: red;

}

h2 {
font-size: 60px;
background-color: yellow;
}

#HUND{
	float: left;
}

#SPORT{
	border: 50px
}




h4 {
	background-color: green;
   font-size: 20px;
}



h5 {
	background-color: lightblue;
	font-size: 30px;
}

li {
	font-size: 20px;
}