p {
	font-family: 'Raleway', sans-serif;
	justify-content: space-between;
	column-count: 3;
	border: 3px dotted black;
	font-size: 15px

}

h1 {
	font-family: 'Raleway', sans-serif;
text-align: center;
font-size: 40px;

}

h2 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 15px;
}

.a {
	display: flex;
	justify-content: center;
	align-items:center
}

.b {
	display: flex;
	justify-content: center;
	align-items:center
	background: linear-gradient(90deg, rgba(62,74,175,1) 0%, rgba(55,167,179,1) 50%, rgba(62,74,175,1) 100%);
}
